.contentBtnAdmin {
  display: flex;
  width: auto;
  height: 60px;
  background-color: #253342;
  padding: 0 20px;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contentBtnAdmin img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.1;
  transition: all 0.3s ease;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.contentBtnAdmin img:hover {
  opacity: 1;
  transform: scale(1.1);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
}

.btnSearch,
.btnCambiarTema,
.btnEstadisticas,
.btnNotfication {
  border-radius: 50%;
  background-color: #ffffff;
  /* Fondo blanco para destacar */
  padding: 5px;
}

.btnSearch:hover,
.btnCambiarTema:hover,
.btnEstadisticas:hover,
.btnNotfication:hover {
  background-color: #FFD700;
}